.map {
  height: 100%;
  padding-top: 45px;
}
.container {
  height: 100%;
}
.map :global(.adm-nav-bar) {
  margin-top: -45px;
}
.bubble {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #579757;
}
.bubble p {
  transform: translateY(20px);
}
